/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	background-color: #00A8E8;
	color: #ffffff;
	text-decoration: none;
}


.home{
	padding: 10px;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
}

.home a{
	text-decoration: none;
	margin: 20px;
	color: #ffffff;

}

.nav ul{
	list-style-type: none;
	padding: 5px;
	font-size: 12px;
}

.nav ul li a{
	text-decoration: none;
	padding: 5px;
	color: #ffffff;

}

.company{
	border: solid;
	border-width: 50px;
	text-align: center;
	padding-bottom: 10px;
	padding: 15px;

}

.company p{
	padding: 5px;
	padding-left:15px;
	
}

.company a{
	margin: 20px;
	color: #ffffff;
}

.job{
	border: solid;
	border-width: 50px;
	text-align: left;
	padding-bottom: 10px;
}

.job p{
	padding: 5px;
	padding-left: 15px;
}

.job a{
	margin: 20px;
	color: #ffffff;
}

.jobs{
	border: solid;
	border-width: 50px;
	text-align: left;
	padding-bottom: 10px;
	padding: 15px;

}

.jobs th{
	padding-left: 10px;

}

.jobs td{
	padding: 5px;
	padding-left: 10px;
}

.jobs a{
	margin: 20px;
	color: #ffffff;
}


.edit{
	border: solid;
	border-width: 50px;
	padding-bottom: 10px;
	padding: 15px;
	text-align: center;
	color: #ffffff;
}

.edit a{
	color: #003459;
}

.boats{
	border: solid;
	border-width: 50px;
	text-align: left;
	padding-bottom: 10px;
	padding: 15px;
}
.boats a{
	color: #ffffff;
}


.signup{
	border: solid;
	border-width: 50px;
	padding-bottom: 10px;
	padding: 15px; 
}
.signup a{
	color: #ffffff;
}

.login{
	border: solid;
	border-width: 50px;
	padding-bottom: 10px;
	padding: 15px;
}

.login a{
	color: #ffffff;
}







